
<div>
    <div class="tab">
        <button class="tablinks" *ngFor="let tab of tabs" (click)="onTabClick(tab.tabName)">{{tab.tabName}}</button>  <button  class="tablinks"  (click)="onLogoutClick()">Logout</button>
      </div>

      <router-outlet></router-outlet>
   
</div>