
<div style="margin-top: 93px;">
    <label style="color:red">Note : here data will be display according to user industry /role</label>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="  width: 100%;" *ngIf="flagFortable">

   
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
     
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Eamil </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
      
        <!-- <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> Password </th>
          <td mat-cell *matCellDef="let element"> {{element.password}} </td>
        </ng-container> -->
      
  
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

      

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element"><button mat-button color="primary"  (click)="onDeleteClick(element.id)">Delete</button></td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">  <button mat-button color="primary"  (click)="onEditClick(element.id)">Edit</button>  </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>