p {
    font-family: Lato;
  }
  
  /* input.ng-invalid.ng-touched{
    border: 1px solid red;
  } */

  .basic-container {
    padding: 89px 366px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

 