
  <div class="basic-container">
    <mat-card> <h1>Login Form</h1>
<form class="example-form" [formGroup]="registerForm">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name"  formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"  autocomplete="new-email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>PassWord</mat-label>
      <input type="password" matInput placeholder="PassWord"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  autocomplete="new-password">
  
    </mat-form-field>
    <button mat-button color="primary" [disabled]="!registerForm.valid" (click)="onLoginClick()">Submit Data</button>
    </form>
    </mat-card>
    </div>
  
 