<div class="basic-container">
    <mat-card> <h1>Register Form</h1>
<form class="example-form" [formGroup]="registerForm">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name"  formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required" style=" margin-top: 30px ; color: red;">Menu name
          required</div>
      </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required" style=" margin-top: 30px ; color: red;">Menu name
            required</div> 
            </div>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="new-email">
        
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>PassWord</mat-label>
        <input matInput type="password" placeholder="PassWord" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" autocomplete="new-password">
       
      </mat-form-field>


      <mat-form-field appearance="fill"  class="example-full-width">
        <mat-label>Industry</mat-label>
      <mat-select (selectionChange)="onChangeIndustry()" formControlName="industry">
        <mat-option  *ngFor="let data of dataOfIndustry" [value] = data.industry_id >
        {{data.industry_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill"  class="example-full-width">
        <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let subdata of subDataofIndustry" [value]="subdata.role_id">
        {{subdata.role_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button color="primary" [disabled]="!registerForm.valid" (click)="onSubmitData()">Submit Data</button>
    </form>
   </mat-card>

   
</div>





